@media (min-width: 992px) {
  .container {
    max-width: 1073px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1190px;
  }
}

@media (min-width: 1450px) {
  .container {
    max-width: 1390px;
  }
}



@media (max-width: 1199px) {
  .table-nav ul li {
    padding: 19px 2% 17px;
  }
  .player-details-card {
    padding: 0px 10px;
  }
  .nav-links ul {
    gap: 25px;
  }
  
}

@media (min-width: 1025px) {
  .trending-container {
    max-width: 337px;
  }
  .ranking-card{
    max-width: 405.274px;
    width: 100%;
  }
  
}

@media (max-width: 1024px) {
  .cricket-live-row{
    flex-direction: column;
  }
  .trending-container {
    order: 3;
  }
  .score-app-card{
    display: none;
  }
  
}


@media (min-width: 992px) {
  .footer-row{
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: space-between;
  }
  .footer-description{
    width: 42%;
  }
  .footer-description p{
    width: 65%;
  }
  .footer-list{
    width: 15%;
  }
}

@media (max-width: 991px) {
 
  .nav-links ul li{
    padding: 10px 0px;
  }

  .footer-list , .download-app{
    text-align: center;
  }
  .footer-list ul{
    list-style: none;
    margin: 20px 0px;
  }

  .nav-links a {
    font-size: 13px;
  }

  .nav-links ul {
    gap: 12px;
  }

}

@media (min-width: 768px) {
  .match-start hr{
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar{
    justify-content: center;
  }
  .ranking-card ,
  .trending-container,
  .nav-links{
    display: none;
  }
  .logo img{
    height: 75px;
  }
  .match-start p{
    display: none;
  }

  .match-start{
    width: 6%;
    border: none;
    padding: 0;
  }
  .match-start hr{
    display: block;
    background: #636895;
  }
  .mobile-menu{
    display: block;
  }
 
}

@media (max-width: 576px) {
  .footer-description{
    display: block;
    text-align: center;
  }
  .table-nav ul li {
    font-size: 12px;
  }
  .team-score svg{
    min-width: 35px;
    max-width: 35px;
  }  
  .team-score-name h4 {
    font-size: 13px;
  }
  .team-score h6 span {
    display: block;
  }
}

@media (max-width: 479px) {
  .embed-responsive-item {
    max-height: 200px;
  }
  .logo img {
    height: 61px;
  }
}

@media (max-width: 339px) {
  .team-score{
    flex-direction: column;
  }
  .right-team {
    order: 2;
  }
  .team-score{
    align-items: start;
  }
  .right-team-score{
    align-items: end;
  }
  .container {
    padding: 0px 12px;
  }
}