:root{
  --primery-color: #081736;
  --mainly-blue: #F4F7FD;
  --black-color: #000000;
  --white-color: #ffffff;
  --navy-blue: #030A18;
  --lite-blue-1: #E4E9F0;
  --lite-blue-2: #7C8392;
  --lite-blue-3: #6A7586;
  --lite-blue-4: #E7F2F4;
  --lite-blue-5: #627293;
  --lite-blue-6: #5C6081;
  --lite-blue-7: #51555E;
  --lite-blue-8: #EAEFFA;
  --lite-blue-9: #F2F7FE;
  --lite-blue-10: #636895;
  --dark-blue-1: #1B1B1C;
  --blue-color: #3D4DCF;
  --gray-color: #575757;
  --red-color: #FE4848; 
  --green-color: #13B76D; 
  --orange-color: #FF912C; 
  --majorelle-blue: #8356E1 ;
  --majorelle-blue-lite: #DCDADF ;

  --box-shadow-1: 0px 8px 34px 0px #87949F2B;
  --box-shadow-2:  0px 4px 8px 0px #00000014;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: auto !important;
}

body {
  background: var(--mainly-blue);
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 0px 20px;
  margin: auto;
}


a {
  color: var(--black-color);
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

a:hover {
  color: var(--custom-white);
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}


 /* header  */

.header{
  background: var(--primery-color);
  padding: 12px 0px;
  position: sticky;
  top: 0;
}

 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links ul {
  display: flex;
  gap: 31px;
}

.nav-links a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.nav-links a:hover {
  background-color: var(--gray-color);
  border-radius: 5px;
}

/* footer */

footer{
  background: var(--primery-color);
}

.footer-description{
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-row{
  padding: 42px 0px;
}

.footer-description p{
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer-list ul {
  list-style: disc;
}

.footer-list ul li{
  color: var(--white-color);
}

.download-app{
  color: var(--white-color);
}

.sub-footer{
  background: var(--navy-blue);
  padding: 16px 0px;
  text-align: center;
}

.sub-footer p{
  color: var(--white-color);
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

/* section */

.cricket-live{
  padding: 25px 0px;
}

.cricket-live-row{
  display: flex;
  gap: 22px;
}

.trending-players-box{
  border-radius: 13px;
  background: var(--white-color);
  padding: 19px  17px;
}

.trending-players-box h2{
  color: var(--black-color);
font-size: 13px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.26px;
text-transform: uppercase;
}

hr{
  background-color: var(--lite-blue-1);
  height: 1px;
  margin: 14px 0px;
}

.trending-container{
  width: 100%;
}

.player-details-card{
  display: flex;
  align-items: center ;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 20px;
  flex-wrap: wrap;
}

.player-details{
  display: flex;
  gap: 10px;
}

.player-details h5{
  color: var(--dark-blue-1);
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.3px;
}

.player-details img{
  width: 39.182px;
  height: 39.182px;
}

.player-details P{
  color: var(--lite-blue-2);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.player-country{
  display: flex;
  align-items: center;
  gap: 10px;
}

.cricket-live-team{
  width: 100%;
}

.table-nav{
  border-radius: 10px;
  background: var(--white-color);
  box-shadow: var(--box-shadow-1);
  padding: 0px 3%;
}

.table-nav ul{
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  overflow: auto;

}

.table-nav ul li{
  padding: 19px 4% 17px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.28px;
  text-align: center;
  text-transform: uppercase;
  border-bottom:  2px solid var(--white-color);
  color: var(--lite-blue-3);
}

.table-nav ul li:hover , .table-nav ul li.active{
  border-bottom:  2px solid var(--blue-color);
}

.table-nav ul li:hover a , .table-nav ul li.active a{
  color: var(--blue-color);
}

.team-score-crad{
  margin-top: 14px;
  border-radius: 10px;
  background: var(--white-color);
  padding: 14px 11px;
}

.team-score-name{
  display: flex;
  align-items: center;
}

.team-score-name span{
  font-size: 11.718px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-right: 15px ;
  border-right: 1px solid var(--lite-blue-4);
  min-width: fit-content;
}

.match-live{
  color: var(--red-color);
}

.match-result{
  color: var(--green-color) !important;
}

.match-scheduled{
  color: var(--orange-color);
}

.team-score-name h4{
  color: var(--black-color);
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.3px;
  padding:  0px 10px;
}

.team-score-crad hr{
  margin: 10px 0px;
  height: 1px;
  background: var(--lite-blue-4);
}

.team-score-box{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.team-score{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 27px 18px;
}

.team-score-crad .team-score p{
  color: var(--lite-blue-6);
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
  padding: 0px;
}

.team-score-crad p{
  color: var(--lite-blue-7);
  font-size: 12px;
  font-weight: 500;
  padding: 0px 10px;
}

.team-score h6{
  color: var(--black-color);
  font-size: 15px;
  font-weight: 800;
  line-height: 25px;
}

.team-score h6 span{
  font-size: 13px;
  font-weight: 500;
}

.right-team{
  text-align: right;
}

.toss-choose{
  color: var(--lite-blue-7);
font-size: 13px;
font-weight: 500;
padding: 0px 10px;
}

.match-start{
  max-width: 97.282px;
  border-radius: 9px;
  border: 1px solid var(--lite-blue-8);
  padding: 13px;
  max-height: fit-content;
}

.match-start p{
  color: var(--black-color);
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  padding: 0;
}

.ranking-card{
  background: var(--white-color) ;
  max-height: fit-content ;
  padding: 25px;
  border-radius: 13px;
}

.ranking-all {
  display: flex;
  align-items: center;
  gap: 10px ;
  justify-content: space-between;
}

.ranking-all h6{
  color: var(--black-color);
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.ranking-all a{
  color: var(--majorelle-blue);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.select-match{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.select-match ul{
  display: flex;
  align-items: center;
  gap: 5px;
}

.select-match ul li{
  padding: 5px 16px;
  color: var(--lite-blue-3);
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.select-match ul li:hover,
.select-match ul li.active{
  border-radius: 14.184px;
  background: var(--primery-color);
  box-shadow: var(--box-shadow-2);
  color: var(--white-color) !important;
}

.select-match ul li:hover a,
.select-match ul li.active a{
  color: var(--white-color);
}

select {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--majorelle-blue-lite);
  background: var(--white-color);
  color: var(--primery-color);
  max-width: 134.869px;
  width: 100%;
}

table{
  width: 100%;
  border-spacing: 0;
  margin: 20px 0px;
}

table tr{
  text-align: left;
}

.table-header{
  background: var(--lite-blue-9);
}

table tr th,
table tr td{
  padding: 15px 20px;
  line-height: normal;
}

table tr th{
  color: var(--lite-blue-3);
font-size: 14px;
font-weight: 500;
}

table tr td{
  border-bottom: 1px solid var(--lite-blue-1);
  color: var(--black-color);
  font-size: 14px;
  font-weight: 500;
}

.table-country{
  display: flex;
  align-items: center;
  gap: 5px;
}

.table-country svg{
  min-width: fit-content;
}

.team-space{
  width: 6%;
}

.team-space hr{
  background: var(--lite-blue-10);
}

.score-app-card{
  text-align: center;
}

.mobile-menu{
  background: var(--primery-color);
  position: sticky;
  bottom: 0;
  padding: 18px 0px;
  display: none;
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}

.mobile-menu.show {
  transform: translateY(0);
}

.mobile-menu ul{
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.mobile-menu ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-menu ul li a{
  color: var(--lite-blue-5);
  font-size: 11px;
  font-weight: 500;
}

.mobile-menu ul li a:hover,
.mobile-menu ul li a.active{
  color: var(--white-color);
}

.box-shadow{
  box-shadow: var(--box-shadow-1);
}

.cricket-bonus img{
  width: 100%;
  border-radius: 10px;
}

.cricket-bonus{
  line-height: normal;
}

.doat{
  display: block;
  border-radius: 100%;
  width: .375rem;
  height: .375rem;
  margin: 0px 5px;
  background-color: var(--black-color);
}

.match-detail ,
.match-detail-span{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.match-heading h1{
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 6px;
}

.match-detail  a:hover{
  color: var(--blue-color);
}

.cricket-result .team-score-name .match-result {
  margin-right: 15px;
}

.cricket-result .team-score-name span{
  padding-right: 0;
  border: none;
}

.cricket-result .team-score{
  justify-content: space-between;
  
}

.cricket-result .right-team {
  text-align: left;
}

.team-name{
  display: flex;
  align-items: center;
  gap: 10px;
}

.cricket-result .team-name p{
  font-size: 20px;
  color: var(--lite-blue-6) !important;
}

.win-team-score{
  color: var(--blue-color);
}

.cricket-result .team-score-crad .toss-choose {
  font-size: 16px;
  color: var(--blue-color);
}

.manof-the-match{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cricket-result .team-score-box{
  display: block;
}

.manof-the-match{
  display: flex;
  align-items: center;
  border: 1px solid var(--lite-blue-4);
  border-radius: 10px;
  padding: 10px;
}

.players-img{
  border-radius: 100%;
}

.manof-the-match p{
  font-size: 16px;
  line-height: normal
}

.manof-the-match span{
  font-size: 20px;
  font-weight: 700;
}

.manof-the-match div{
  text-align: center;
  width: 153px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cricket-result .table-nav{
  margin-top: 20px;
}

.match-info-heading{
  min-width: 128px;
}

.match-info p{
  display: flex;
  line-height: 30px !important;
  gap: 15px;
}

.match-info span{
  font-size: 16px;
}

.ground-celsius{
  display: flex;
  align-items: center;
  gap: 5px;
  width: 45%;
  justify-content: space-between;
}

.ground-celsius span{
  display: block;
  font-size: 16px;
}

.ground-celsius .ground-temperature{
  font-size: 20px;
}

.ground-celsius-left ,
.ground-celsius-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ground-celsius-details p{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px !important;
}

.ground-celsius-details{
  width: 50%;
}

.text-black{
  color: var(--black-color);
}

.match-squads{
  margin-top: 20px;
}

.team-squad{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.team-squad p{
  font-size: 16px;
}